#test
  if data.index > 1
    p.paragraph(data-index=data.index) index inférieur à 1
  else
    p.paragraph(data-index=data.index) index supérieur à 1
  ul.list
  each item, index in data.items
    li.item.anotherclass
      span.item-text=item
      br
      +image(index)


mixin image(index)
  img.item-picture(src=`https://www.example.com/assets/image${index}.png`)
